.project {
    background-color: pink;
    min-height: 150px;
    width: calc(100% / 3);

    &OverlayInnerWrapper {
        display: none;
    }

    &Title {
        display: none;
    }

    &:hover,
    &:focus {
        .projectTitle {
            display: block;
        }
    }

    &Link {
        display: block;
        color: green;

        &Github {
            color: red;
        }
    }

    &Active {
        .projectTitle,
        .projectOverlayInnerWrapper {
            display: block;
        }
    }
}