.project {
    background-color: pink;
    min-height: 150px;
    width: calc(100% / 3);

    &Overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &InnerWrapper {
            width: 90%;
            margin: 0 auto;
        }
    }

    &ButtonText {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover,
    &:focus {
        .projectButtonText {
            opacity: 1;
        }
    }

    &Link {
        display: block;
        color: green;

        &Github {
            color: red;
        }
    }

    &Images {
        img {
            width: calc(100% /3);
        }
    }

    &IsActive {
        .projectOverlay {
            display: flex;
            pointer-events: all;
        }
    }
}