.pageSection {
    border: 1px solid black;

    &Introduction {
        border: 1px solid pink;
    }

    &About {
        border: 1px solid pink;
    }

    &Experience {
        border: 1px solid pink;
    }

    &Contact {
        border: 1px solid pink;
    }
}